$dark-blue-dm-elements: hsl(209, 23%, 22%);
$very-dark-blue-dm-background: hsl(207, 26%, 17%);
$very-dark-blue-lm-Text: hsl(200, 15%, 8%);
$dark-gray-lm-input: hsl(0, 0%, 52%);
$very-light-gray-lm-background: hsl(0, 0%, 98%);
$white-dm-text-and-lm-Elements: hsl(0, 0%, 100%);